
// Fonts
@import "font-PFRegal";

// Bootstrap
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootstrap";


// Colors

$dark: #333333;
$active: #0096ff;

// Fonts

$serif: 'PFRegal', serif;


//Styles

body{
    font-family: $serif;
    font-size: 16px;
}

a{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.02em;
    transition: color .2s;
}

p{
    font-size: 18px;
}

footer{
    text-align: center;
    margin-top: 50px;
}

.mainnav{
    background: $dark;
    padding: 20px 0;
    a:not(.logo){
        display: inline-block;
        vertical-align: top;
        color: #fff;
        margin: 8px 20px 0 0;
        text-decoration: none;
        &:hover{
            color: darken(#fff, 20%);
        }
    }
}

.logo{
    margin: 3px 20px 0 0;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-family: $serif;
    font-weight: 700;
    &:hover, &:focus{
        text-decoration: none;
        color: $active;
    }
}

.article{
    margin: 50px 0;
    img{
        display: block;
        max-width: 100%;
        margin-top: 20px;
    }
    .title{
        font-family: $serif;
        color: $dark;
        text-decoration: none;
        &:hover{
            color: $active;
        }
    }
}

.single{
    margin: 50px 0;
    .image{
        margin: 1em 0 2em;
    }
    img{
        max-width: 100%;
    }
}

.article,
.single{
    .info{
        font-size: 14px;
        color: lighten($dark, 20%);
        span{
            display: inline-block;
            margin-right: 20px;
            &.pull-right{
                margin-left: 20px;
                margin-right: 0;
            }
        }
    }
    .fa{
        display: inline-block;
        margin-right: 5px;
    }
}

.search{
    padding-top: 6px;
    input{
        float: right;
        width: 100%;
        max-width: 300px;
        box-sizing: border-box;
        padding: 5px 10px;
        font-family: $serif;
        border: 1px solid lighten($dark, 20%);
        background: transparent;
        color: #ddd;
    }
}

.insensible{
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin: 16px 0 0;
}

aside{
    border: 1px solid #ebebeb;
    margin-top: 50px;
    padding: 10px 15px;
    h3{
        margin: 0 0 20px;
        padding: 10px 0;
        border-bottom: 1px dashed lighten($dark, 50%);
        font-size: 16px;
    }
    a{
        display: block;
        margin: 0 -15px;
        padding: 10px 15px;
        text-decoration: none;
        color: $active;
        &:hover{
            color: darken($active, 20%);
            background: #ebebeb;
        }
    }
}

@media (max-width: 768px){

    .logo{
        margin-bottom: 20px;
    }

    .search{
        input{
            float: left;
        }
    }

    .insensible{
        display: none;
    }
}
