
// Fonts
@import "fonts";

// Bootstrap
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootstrap";


// Colors

$dark: #333333;
$active: #0096ff;

// Fonts

$sans: "SegoeUI", sans-serif;


//Styles

body{
    font-family: $sans;
    font-size: 16px;
    color: #333;
}

a{
    font-family: $sans;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: $active;
    transition: color .2s;
}

p{
    line-height: 1.5;
}

h1{
    font-size: 32px;
    font-weight: 600;
}

pre{
    padding: 16px;
    background: #f7f7f7;
    border-radius: 4px;
}

footer{
    text-align: center;
    margin-top: 50px;
    color: #767676;
    border-top: 1px solid #eee;
    p{
        font-size: 16px;
        margin: 20px 0;
    }
}

.mainnav{
    background: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    padding: 20px 0;
}

.categories{
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 33px;
    float: right;
    a{
        color: #333;
        text-decoration: none;
        margin-left: 15px;
        &:first-of-type{
            margin-left: 0;
        }
        &:hover{
            color: $active;
        }
    }
}

.logo{
    margin: -6px 30px 0 0;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #333;
    font-size: 28px;
    font-weight: 600;
    &:hover, &:focus{
        text-decoration: none;
        color: $active;
    }
}

.article{
    margin: 80px 0;
    padding-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #f1f1f1;
    img{
        display: block;
        width: 100%;
        border-radius: 3px 3px 0 0;
    }
    .title{
        display: block;
        text-decoration: none;
        color: #333;
        h2{
            font-weight: 600;
            font-size: 28px;
        }
        &:hover{
            color: $active;
        }
    }
    .title,
    .info,
    p{
        padding: 0 15px;
    }
    &:last-of-type{
        margin-bottom: 30px;
    }
}

.single{
    margin: 50px 0;
    .image{
        margin: 1em 0 2em;
    }
    img{
        width: 100%;
    }
}

.article,
.single{
    .info{
        font-size: 14px;
        color: lighten($dark, 20%);
        span{
            display: inline-block;
            margin-right: 20px;
            &.pull-right{
                margin-left: 20px;
                margin-right: 0;
            }
        }
    }
    .fa{
        display: inline-block;
        margin-right: 5px;
    }
}

.search{
    padding-top: 1px;
    input{
        float: right;
        width: 100%;
        max-width: 300px;
        box-sizing: border-box;
        padding: 5px 10px;
        font-family: $sans;
        font-size: 14px;
        border: 1px solid #ddd;
        border-radius: 4px;
        background: #fff;
        color: #333;
        outline: none;
        &:focus{
            border-color: $active;
        }
    }
}

.insensible{
    display: none;
    // font-weight: 600;
    // font-size: 14px;
    // line-height: 33px;
    // margin: 0;
    // color: #999;
}

.inline-form{
    display: inline-block;
    button{
        border: none;
        background: none;
        @extend a;
    }
}

.space-right{
    margin-right: 20px;
}

.sharing{
    margin: 50px 0;
    *{
        box-sizing: content-box;
    }
}

.pagination {
    text-align: center;
    margin-top: 130px;
    li {
        display: inline;
        font-size: 18px;
    }
    .active {
        padding: 0 10px;
        font-weight: bold;
    }
    a {
        font-size: 18px;
        padding: 5px 8px;
        border-radius: 5px;
    }
    a:hover {
        background: #efefef;
    }
}

.article-form{
    padding-bottom: 50px;
    .checkbox{
        display: inline-block;
        margin-right: 20px;
    }
}

@media (max-width: 1000px){
    .insensible{
        display: none;
    }
}

@media (max-width: 768px){

    .logo{
        margin-bottom: 20px;
    }

    .search{
        input{
            float: left;
        }
    }
}

@media (max-width: 500px){

    .categories{
        display: block;
        float: none;
        padding-bottom: 20px;
    }
}
